:root {
  --primary: #ad0808;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins, sans-serif;
  background-color: var(--bg);
  color: #000000;
  /* min-height: 5000px; */
}

header {
  background: url(/produk/background\ -\ produk\ MMM.jpg);
  background-size: auto;
  text-align: center;
}

/* Navbar style */
.navbar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.navbar-brand {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 3px;
}

.nav-link {
  border-bottom: 2px solid transparent; /* Garis bawah awalnya transparan */
  transition: border-bottom-color 0.3s ease-in-out; /* Efek transisi untuk warna garis bawah */
}

.nav-item {
  transition: transform 0.3s ease-out;
}

/* Navbar style */
.navbar {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transisi warna latar belakang dan teks */
}

.nav-link {
  color: #000; /* Warna teks link navigasi */
  transition: color 0.3s ease; /* Transisi warna teks */
}

/* Warna teks pada navbar saat di-scroll */
.navbar.scrolled .nav-link {
  color: #fff; /* Ganti dengan warna teks putih saat di-scroll */
}

/* Warna latar belakang navbar saat di-scroll */
.navbar.scrolled {
  background-color: #fff !important; /* Ganti dengan warna latar belakang putih saat di-scroll */
}

/* Tambahkan padding untuk menengahkan tulisan di menu navigasi */
.navbar-nav {
  padding: 10px 0; /* Atur padding atas dan bawah */
}

.nav-item {
  text-align: center; /* Pusatkan teks */
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-link:hover,
.nav-link.active {
  border-bottom-color: #b69e17; /* Warna garis bawah saat hover atau aktif */
}

/* Warna teks pada navbar saat awal */
.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #000 !important; /* Ganti dengan warna teks pada navbar saat awal */
}

/* Warna latar belakang navbar saat awal */
.navbar-light {
  background-color: #fff !important; /* Ganti dengan warna latar belakang navbar saat awal */
}

/* Warna latar belakang navbar saat di-scroll */
.navbar-light.scrolled {
  background-color: rgb(134, 17, 17) !important; /* Ganti dengan warna latar belakang navbar saat di-scroll */
  color: #fff !important; /* Ganti dengan warna teks pada navbar saat di-scroll */
}

/* Tambahkan style untuk class 'scrolled' untuk warna teks */
.scrolled .nav-link {
  color: #ffffff !important; /* Ganti dengan warna teks yang diinginkan */
}

/* Navbar style */
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    position: fixed;
    top: 81px;
    bottom: 0;
    left: -200px; /* Atur menu navigasi di luar layar */
    width: 200px; /* Lebar menu navigasi */
    padding-top: 50px; /* Atur jarak dari atas */
    background-color: rgb(255, 255, 255); /* Warna latar belakang menu navigasi */
    transition: left 0.3s ease; /* Efek transisi saat menu navigasi muncul */
  }
  .navbar.scrolled .navbar-collapse {
    background-color: rgb(134, 17, 17);
  }

  .navbar-expand-lg .navbar-toggler {
    position: fixed;
    right: 15px; /* Atur posisi tombol hamburger */
  }

  .navbar-expand-lg .navbar-toggler:focus {
    outline: none; /* Hilangkan focus outline pada tombol hamburger */
  }

  .navbar-expand-lg .navbar-toggler-icon {
    color: #000; /* Warna ikon tombol hamburger */
  }

  .navbar-expand-lg .show {
    left: 0; /* Geser menu navigasi ke dalam layar saat dibuka */
  }

  .navbar-expand-lg .nav-link {
    display: block; /* Tampilkan link navigasi sebagai block element */
    padding: 10px 0; /* Atur padding untuk link navigasi */
    margin-bottom: 10px; /* Atur margin bawah untuk link navigasi */
    color: #000; /* Warna teks link navigasi */
    transition: color 0.3s ease; /* Efek transisi untuk perubahan warna */
  }
}

/* hero branding */
.hero-tentang {
  display: flex;
  flex-direction: column; /* Mengatur tata letak konten dalam satu kolom */
  align-items: center;
  justify-content: center; /* Mengatur konten agar berada di tengah vertikal */
  background-image: url(/img/wll\ dsply\ rkok.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-tentang::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgb(255, 255, 255) 8%, rgba(185, 185, 185, 0) 50%);
}

.hero-tentang .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  text-align: center; /* Mengatur teks agar berada di tengah horizontal */
}

.hero-tentang .content1 {
  padding: 1.4rem 11%;
  max-width: 100%; /* Lebarkan konten hingga ke lebar layar */
}

.hero-tentang .content h1 {
  font-size: 2em;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero-tentang .content h1 span {
  color: var(--primary);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

h1 {
  color: rgb(252, 252, 252);
}

/* layanan produk */

.produk {
  background: rgb(255, 255, 255);
  background-size: cover;
}

.produk-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.produk-aktif {
  grid-row: 1; /* Tempatkan produk aktif di baris pertama */
}

.produk-nonaktif {
  grid-row: 2; /* Tempatkan produk non-aktif di baris kedua */
}

.produk-judul {
  font-size: 30px;
  margin-top: 100px;
}

#produk h5 {
  font-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#produk row {
  position: center;
}

#produk h1 {
  margin-top: 30px;
  margin-bottom: none;
  font-size: 20px;
  background-color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(/lainnya/bw-cmpny.png);
  background-size: cover;
  padding: 5px;
}

.card {
  height: 120px; /* Tetapkan tinggi untuk card */
  overflow: hidden; /* Atur overflow agar gambar yang besar tidak keluar dari card */
  background-color: #ffffff;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.15);
}

.card img {
  object-fit: cover; /* Atur gambar agar memenuhi seluruh area card tanpa memperhatikan aspek rasio */
  width: 100%; /* Pastikan gambar mengisi seluruh lebar card */
  height: 100%; /* Pastikan gambar mengisi seluruh tinggi card */
}

.modal-body img {
  max-width: 100%;
  height: auto;
  max-height: 900px; /* Sesuaikan tinggi maksimum sesuai kebutuhan Anda */
  margin: auto;
  display: relative;
}

@media (max-width: 576px) {
  .row.justify-content-center > .col-lg-1 {
    flex: 0 0 100%; /* Memastikan setiap kartu mengambil lebar penuh */
    max-width: 30%; /* Lebar maksimum kartu adalah 100% */
  }
}

/* footer */
footer {
  background-color: rgb(134, 17, 17);
  text-align: center;
  padding: 3rem 0;
  color: #fff;
}

footer .footer-title {
  color: #b69e17;
  font-weight: bold;
  margin-bottom: 1rem;
}

footer .footer-item {
  margin-bottom: 2rem;
}

.footer-contact-info {
  display: grid;
  grid-template-columns: 1fr; /* Satu kolom */
  gap: 10px; /* Jarak antar item */
  justify-content: center; /* Menyusun item ke tengah */
}

.copyright {
  bottom: 1%;
  color: #000000;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

footer .footer-list,
footer .footer-links {
  list-style: none;
  padding: 0;
}

footer .footer-list li,
footer .footer-links li {
  margin-bottom: 0.5rem;
}

footer .footer-list a,
footer .footer-links a {
  color: #fff;
  text-decoration: none;
}

footer .footer-list a:hover,
footer .footer-links a:hover {
  color: #ffe600;
}

footer .footer-social {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

footer .footer-social a {
  color: #fff;
  margin: 0 1rem;
}

footer .footer-contact-info {
  text-align: left;
}

footer .footer-contact-info > div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

footer .footer-contact-info i {
  margin-right: 0.5rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #b69e17;
  font-weight: bold;
}

@media (max-width: 768px) {
  footer .footer-item {
    text-align: center;
  }

  footer .footer-item-subscribe {
    margin-top: 2rem;
  }

  footer .footer-social {
    justify-content: center;
  }

  footer .footer-social a {
    margin: 0 0.5rem;
  }

  footer .footer-contact-info {
    text-align: center;
  }

  footer .footer-contact-info > div {
    justify-content: center;
  }

  footer .footer-contact-info i {
    margin-right: 0.2rem;
  }
}

/* style footer layar hp */

@media (max-width: 768px) {
  footer .footer-item:nth-child(2),
  footer .footer-item:nth-child(3) {
    display: none;
  }

  footer .footer-item-subscribe {
    margin-top: 2rem;
  }

  footer .footer-social {
    justify-content: center;
  }

  footer .footer-social a {
    margin: 0 0.5rem;
  }

  footer .footer-contact-info {
    text-align: center;
  }

  footer .footer-contact-info > div {
    justify-content: center;
  }

  footer .footer-contact-info i {
    margin-right: 0.2rem;
  }
}

/* Untuk layar PC berukuran lebar */
@media (min-width: 1440px) {
  html {
    font-size: 100%; /* Atur ukuran font kembali ke ukuran normal */
  }
  /* Tambahkan gaya khusus untuk layar PC di sini jika diperlukan */
}

/* Untuk layar laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%; /* Mengurangi ukuran font untuk layar laptop */
  }
  /* Sesuaikan gaya CSS untuk ukuran layar laptop di sini */
}

/* Untuk layar tablet */
@media (max-width: 1024px) {
  html {
    font-size: 62.5%; /* Mengurangi ukuran font untuk layar tablet */
  }
  /* Sesuaikan gaya CSS untuk ukuran layar tablet di sini */
}

/* Untuk layar smartphone */
@media (max-width: 768px) {
  /* Sesuaikan gaya CSS untuk ukuran layar smartphone di sini */
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 75%;
  }
}
